In [1]:
import pandas as pd
from collections import defaultdict

In [2]:
model2name = {
    "ctrl_muniter": "mUNITER",
    "ctrl_xuniter": "xUNITER",
    "uc2": "UC$^2$",
    "m3p": "M$^3$P",
}

In [5]:
dset = 'WIT'
langs = ['ar', 'bg', 'da', 'el', 'et', 'id', 'ja', 'ko', 'tr', 'vi']

In [20]:
dset_0 = pd.read_csv(f"../results/{dset.lower()}/{dset}_ir_0.csv")
dset_0

,model,en,ar,bg,da,el,et,id,ja,ko,tr,vi,avg
0,ctrl_muniter,19.9,7.744,8.256,10.662,8.947,7.666,10.877,9.0,5.908,9.570,13.002,9.1632
1,ctrl_xuniter,16.7,7.632,8.488,10.325,11.228,6.407,10.211,7.3,6.337,9.570,9.725,8.7223
2,uc2,17.9,6.622,8.837,9.428,8.772,4.691,9.878,9.8,4.296,7.490,8.457,7.8271
3,m3p,15.5,8.866,8.837,9.428,9.649,5.378,8.657,7.0,6.122,6.519,10.782,8.1238

In [21]:
print('\multirow{4}{*}{\small \shortstack{IR}}', end=' ')
for _, row in dset_0.iterrows():
    print(f"& {model2name[row['model']]}", end=' ')
    for l in langs:
        print('& %.2f' % row[l], end=' ')
    print('\\\\')

\multirow{4}{*}{\small \shortstack{IR}} & mUNITER & 7.74 & 8.26 & 10.66 & 8.95 & 7.67 & 10.88 & 9.00 & 5.91 & 9.57 & 13.00 \\
& xUNITER & 7.63 & 8.49 & 10.32 & 11.23 & 6.41 & 10.21 & 7.30 & 6.34 & 9.57 & 9.72 \\
& UC$^2$ & 6.62 & 8.84 & 9.43 & 8.77 & 4.69 & 9.88 & 9.80 & 4.30 & 7.49 & 8.46 \\
& M$^3$P & 8.87 & 8.84 & 9.43 & 9.65 & 5.38 & 8.66 & 7.00 & 6.12 & 6.52 & 10.78 \\

In [22]:
dset_0 = pd.read_csv(f"../results/{dset.lower()}/{dset}_tr_0.csv")
dset_0

,model,en,ar,bg,da,el,et,id,ja,ko,tr,vi,avg
0,ctrl_muniter,22.336,9.206,10.174,12.162,10.536,8.333,12.881,8.789,6.749,10.866,15.075,10.4771
1,ctrl_xuniter,18.540,9.079,10.298,9.337,12.384,7.821,10.656,10.095,6.974,9.692,11.738,9.8074
2,uc2,19.708,8.323,7.692,10.442,11.645,6.026,11.475,10.808,5.737,8.811,9.896,9.0855
3,m3p,15.328,8.323,9.801,11.794,12.015,8.205,10.890,8.432,7.087,10.573,12.658,9.9778

In [24]:
print('\multirow{4}{*}{\small \shortstack{TR}}', end=' ')
for _, row in dset_0.iterrows():
    print(f"& {model2name[row['model']]}", end=' ')
    for l in langs:
        print('& %.2f' % row[l], end=' ')
    print('\\\\')

\multirow{4}{*}{\small \shortstack{TR}} & mUNITER & 9.21 & 10.17 & 12.16 & 10.54 & 8.33 & 12.88 & 8.79 & 6.75 & 10.87 & 15.07 \\
& xUNITER & 9.08 & 10.30 & 9.34 & 12.38 & 7.82 & 10.66 & 10.10 & 6.97 & 9.69 & 11.74 \\
& UC$^2$ & 8.32 & 7.69 & 10.44 & 11.64 & 6.03 & 11.47 & 10.81 & 5.74 & 8.81 & 9.90 \\
& M$^3$P & 8.32 & 9.80 & 11.79 & 12.02 & 8.21 & 10.89 & 8.43 & 7.09 & 10.57 & 12.66 \\

## IR

In [12]:
lang2model2vals = {lang: {m: [] for m in model2name} for lang in langs}

dset_0 = pd.read_csv(f"../results/{dset.lower()}/{dset}_ir_0.csv")
for lang in lang2model2vals:
    if lang not in dset_0.columns:
        lang2model2vals[lang][m].append('N/A')
        continue
    for (m, v) in dset_0[['model', lang]].values:
        lang2model2vals[lang][m].append(v)
        
for s in shots:
    dset_0 = pd.read_csv(f"../results/{dset.lower()}/{dset}_ir_{s}.csv")
    for lang in lang2model2vals:
        if lang not in dset_0.columns:
            lang2model2vals[lang][m].append('-')
            continue
        for (m, v) in dset_0[['model', lang]].values:
            lang2model2vals[lang][m].append(v)

In [13]:
for lang in lang2model2vals:
    print('\multirow{4}{*}{\small \shortstack{%s}}' % lang, end=' ')
    model2vals = lang2model2vals[lang]
    for m, v in model2vals.items():
        print(f'& {model2name[m]}', end=' ')
        for e in v:
            print('& %.2f' % e, end=' ')
        print('\\\\')
    print('\midrule')

\multirow{4}{*}{\small \shortstack{de}} & mUNITER & 12.05 & 10.50 & 11.90 & 11.95 & 11.95 & 11.95 & 12.05 \\
& xUNITER & 14.55 & 14.40 & 14.35 & 14.45 & 14.45 & 14.45 & 14.55 \\
& UC$^2$ & 28.60 & 27.40 & 28.15 & 28.15 & 28.15 & 28.15 & 28.60 \\
& M$^3$P & 13.35 & 12.25 & 12.85 & 11.95 & 13.15 & 13.35 & 13.25 \\
\midrule
\multirow{4}{*}{\small \shortstack{es}} & mUNITER & 13.15 & 13.70 & 14.25 & 14.25 & 14.25 & 14.25 & 13.15 \\
& xUNITER & 16.10 & 16.10 & 16.05 & 16.05 & 16.05 & 16.05 & 16.10 \\
& UC$^2$ & 15.95 & 15.40 & 15.70 & 15.50 & 8.55 & 15.40 & 15.95 \\
& M$^3$P & 13.40 & 13.40 & 13.80 & 13.95 & 13.50 & 13.40 & 13.40 \\
\midrule
\multirow{4}{*}{\small \shortstack{id}} & mUNITER & 5.95 & 6.05 & 4.55 & 5.75 & 5.65 & 5.80 & 5.95 \\
& xUNITER & 16.50 & 16.90 & 16.55 & 16.20 & 16.60 & 16.60 & 16.50 \\
& UC$^2$ & 14.60 & 14.50 & 14.55 & 12.30 & 14.70 & 14.65 & 14.60 \\
& M$^3$P & 13.20 & 13.20 & 14.20 & 14.15 & 13.50 & 13.20 & 13.20 \\
\midrule
\multirow{4}{*}{\small \shortstack{ja}} & mUNITER & 6.30 & 6.20 & 6.20 & 6.20 & 6.20 & 6.20 & 6.30 \\
& xUNITER & 10.25 & 11.50 & 11.80 & 11.95 & 10.65 & 10.80 & 10.70 \\
& UC$^2$ & 24.25 & 23.15 & 23.00 & 24.80 & 24.40 & 24.35 & 19.80 \\
& M$^3$P & 10.30 & 11.50 & 10.85 & 12.75 & 11.70 & 12.05 & 11.75 \\
\midrule
\multirow{4}{*}{\small \shortstack{ru}} & mUNITER & 5.85 & 3.90 & 5.75 & 6.55 & 6.25 & 8.50 & 9.25 \\
& xUNITER & 15.90 & 15.75 & 15.20 & 16.00 & 16.05 & 16.20 & 17.25 \\
& UC$^2$ & 20.00 & 20.05 & 19.90 & 19.65 & 21.30 & 17.65 & 20.85 \\
& M$^3$P & 15.95 & 15.95 & 17.10 & 16.15 & 16.75 & 16.40 & 16.65 \\
\midrule
\multirow{4}{*}{\small \shortstack{tr}} & mUNITER & 1.75 & 1.90 & 1.40 & 1.30 & 1.30 & 1.35 & 1.75 \\
& xUNITER & 9.05 & 9.35 & 9.05 & 9.05 & 9.05 & 9.05 & 9.05 \\
& UC$^2$ & 7.15 & 7.20 & 7.05 & 5.55 & 6.85 & 4.90 & 7.15 \\
& M$^3$P & 7.75 & 7.75 & 7.45 & 7.45 & 7.35 & 7.75 & 7.75 \\
\midrule
\multirow{4}{*}{\small \shortstack{zh}} & mUNITER & 11.35 & 11.50 & 11.45 & 11.40 & 11.45 & 11.45 & 11.35 \\
& xUNITER & 15.95 & 17.50 & 7.90 & 17.60 & 16.00 & 13.65 & 15.95 \\
& UC$^2$ & 31.60 & 31.30 & 31.05 & 29.75 & 31.40 & 25.50 & 31.60 \\
& M$^3$P & 16.45 & 14.85 & 16.15 & 9.30 & 16.40 & 12.65 & 16.45 \\
\midrule

## TR

In [14]:
lang2model2vals = {lang: {m: [] for m in model2name} for lang in langs}

dset_0 = pd.read_csv(f"../results/{dset.lower()}/{dset}_tr_0.csv")
for lang in lang2model2vals:
    if lang not in dset_0.columns:
        lang2model2vals[lang][m].append('N/A')
        continue
    for (m, v) in dset_0[['model', lang]].values:
        lang2model2vals[lang][m].append(v)
        
for s in shots:
    dset_0 = pd.read_csv(f"../results/{dset.lower()}/{dset}_tr_{s}.csv")
    for lang in lang2model2vals:
        if lang not in dset_0.columns:
            lang2model2vals[lang][m].append('-')
            continue
        for (m, v) in dset_0[['model', lang]].values:
            lang2model2vals[lang][m].append(v)

In [15]:
for lang in lang2model2vals:
    print('\multirow{4}{*}{\small \shortstack{%s}}' % lang, end=' ')
    model2vals = lang2model2vals[lang]
    for m, v in model2vals.items():
        print(f'& {model2name[m]}', end=' ')
        for e in v:
            print('& %.2f' % e, end=' ')
        print('\\\\')
    print('\midrule')

\multirow{4}{*}{\small \shortstack{de}} & mUNITER & 11.85 & 10.65 & 11.70 & 11.70 & 11.70 & 11.65 & 11.85 \\
& xUNITER & 13.25 & 12.95 & 13.20 & 13.15 & 13.15 & 13.15 & 13.25 \\
& UC$^2$ & 23.90 & 22.25 & 23.45 & 23.45 & 23.45 & 23.45 & 23.90 \\
& M$^3$P & 11.85 & 10.65 & 12.35 & 10.60 & 12.60 & 11.85 & 12.55 \\
\midrule
\multirow{4}{*}{\small \shortstack{es}} & mUNITER & 13.05 & 14.70 & 14.05 & 14.05 & 14.05 & 14.05 & 13.05 \\
& xUNITER & 15.10 & 15.60 & 15.30 & 15.30 & 15.30 & 15.30 & 15.10 \\
& UC$^2$ & 15.30 & 15.85 & 16.15 & 16.15 & 9.25 & 15.45 & 15.30 \\
& M$^3$P & 12.15 & 12.15 & 11.60 & 11.60 & 11.55 & 12.15 & 12.15 \\
\midrule
\multirow{4}{*}{\small \shortstack{id}} & mUNITER & 7.55 & 8.30 & 4.85 & 6.30 & 6.35 & 6.20 & 7.55 \\
& xUNITER & 16.75 & 17.05 & 16.85 & 16.65 & 16.75 & 16.80 & 16.75 \\
& UC$^2$ & 13.60 & 14.90 & 14.20 & 13.70 & 14.05 & 13.95 & 13.60 \\
& M$^3$P & 12.10 & 12.10 & 13.00 & 13.15 & 12.20 & 12.10 & 12.10 \\
\midrule
\multirow{4}{*}{\small \shortstack{ja}} & mUNITER & 7.70 & 8.10 & 7.55 & 7.55 & 7.55 & 7.55 & 7.70 \\
& xUNITER & 9.85 & 11.80 & 11.30 & 11.45 & 10.10 & 10.35 & 10.15 \\
& UC$^2$ & 22.40 & 21.20 & 20.25 & 22.20 & 22.45 & 22.25 & 18.40 \\
& M$^3$P & 9.65 & 12.30 & 10.60 & 11.50 & 11.35 & 11.25 & 10.50 \\
\midrule
\multirow{4}{*}{\small \shortstack{ru}} & mUNITER & 6.80 & 7.60 & 7.50 & 7.15 & 7.25 & 8.55 & 10.00 \\
& xUNITER & 14.80 & 14.65 & 15.10 & 14.50 & 15.25 & 14.60 & 14.70 \\
& UC$^2$ & 16.75 & 17.00 & 16.75 & 17.75 & 17.50 & 16.30 & 18.65 \\
& M$^3$P & 14.45 & 14.45 & 14.65 & 14.90 & 14.40 & 15.85 & 15.40 \\
\midrule
\multirow{4}{*}{\small \shortstack{tr}} & mUNITER & 3.25 & 3.80 & 2.45 & 2.10 & 1.95 & 2.00 & 3.25 \\
& xUNITER & 10.05 & 10.30 & 9.95 & 9.95 & 9.95 & 9.95 & 10.05 \\
& UC$^2$ & 6.95 & 7.15 & 7.00 & 6.60 & 7.10 & 6.70 & 6.95 \\
& M$^3$P & 8.35 & 8.35 & 8.10 & 8.10 & 8.05 & 8.35 & 8.35 \\
\midrule
\multirow{4}{*}{\small \shortstack{zh}} & mUNITER & 11.85 & 12.40 & 11.65 & 11.70 & 11.65 & 11.65 & 11.85 \\
& xUNITER & 14.80 & 15.95 & 8.55 & 15.95 & 14.95 & 13.40 & 14.80 \\
& UC$^2$ & 26.30 & 25.80 & 25.75 & 24.40 & 25.20 & 21.50 & 26.30 \\
& M$^3$P & 14.75 & 13.65 & 14.40 & 10.65 & 15.00 & 12.90 & 14.75 \\
\midrule